.wrapper{
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content{
        width: 60px;
        height: 60px;
        border-radius: 35px;
        // border: ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        
    }
    .text{
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
    
    .current{
        border: 3px solid green;
    }
    // .finished{
    //     border: 5px solid green;
    // }
    .completed{
        border: 3px solid blue;
    }
    .error{
        border: 3px solid red;
    }
    .notreached{
        border: 3px solid gray;
    }
}
