.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    
    .globslTitle{
        font-size: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

}


