.wrapper{
    // border: 1px solid black;
    margin: 0px 0px 0px 0px;
    width: 140px;
    // height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    // border: 1px solid red;
    .RhombusOut{
        width: 130px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        // background-color: black;  
        // border: 1px solid red;
        .Rhombus{
            width: 90%;
            height: 90%;
            flex-shrink: 0;
            border-radius: 10px;
            margin: 0px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            background-color: white; 
            font-size: 12px; 
            >*{                    
                position: relative;
                top: -1px;                    
                }
        }
        .current{
            background-color: green;
        }
        .completed{
            background-color: blue;
        }
        .error{
            border: 3px solid red;
        }
        .notreached{
            background-color: gray;
        }
    }
    img{
        width: 40px;
        height: 20px;
        margin: 0px 0px 0px 0px;
        padding: 5px 0px 5px 0px;
    }
    
}