.wrapper{
    width: 25%;
    min-width: 400px;
    // border: 1px solid red;
    flex-shrink: 0;
    padding: 10px 10px 10px 10px;
    flex-shrink: 0;
    input{
        width: 100%;
        margin: 0px 0px 10px 0px;
    }
    .groupTitle{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px 0px 10px 0px;
    }
    .title{
        font-size: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 10px 0px;
    }
   
    .item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15px;
        margin: 0px 0px 5px 0px;
        div{
            display: flex;
            flex-direction: row;
            // border: 1px solid red;
            width: 100%;
            
            input{
                width: 15px;
                height: 15px;
                margin: 0px 10px 0px 0px;
                padding: 0px 0px 0px 0px;
                
            }
            label{
                // display: flex;
                display: inline;
                // width: 100px;
                // flex-direction: row; 
                // width: 100%;
            }
           
        }
        >input{
            flex-shrink: 0;
            width: 170px;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            border: 0px solid black;
            border-bottom: 1px solid black;
        }
        
    }
}