.wrapper{
    display:flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
    border-bottom: 2px solid black;
    padding: 0px 0px 10px 0px;

    .content{
        display:flex;
    flex-direction: row;
    }
}