.wrapper{
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    .textarea{
        font-size: 11px;
        border: 0px solid black;
        width:100%;
        min-width: 500px;
        height: min-content;
        resize: none;
        height: 100%;
        flex-grow: 1;
        display: block;
        outline : none;
        background-color: aliceblue;      
        overflow: scroll;
    }
}
