.wrapper{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    // border: 3px solid rgb(221, 24, 24);
    .content{
        display: flex;
        flex-direction: row;
        // border: 3px solid rgb(30, 186, 21);
        
        .data{
            display: flex;
            flex-direction: column;
            padding: 0px 5px 0px 5px;
            border-right: 1px solid black;
            // overflow:hidden
        }
    }
    
}