.chapter{
    display:flex;
    flex-direction: column;
    margin: 0px 0px 40px 0px;
    border-bottom: 2px solid black;
    padding: 0px 0px 10px 0px;


    .description{
        margin: 0px 0px 20px 0px;
    }

    .content{
        display: flex;
        flex-direction: row;
        .request{
            // border: 1px solid red;
            margin: 0px 20px 0px 0px;
            width: 200px;
            .line{
                display: flex;
                flex-direction: row;
                pre{
                    width: 100px;
                    // border: 1px solid red;
                }
            }
        }
        .response{

        }
    }
}